@import "../../assets/scss/variables";

.posters {
  display: flex;
  flex-direction: row;
  .canvas-wrap{ 
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    &-mask {
      position:fixed;
      left:0;
      top:0;
      width:100%;
      height:100%;
      background:rgba(0,0,0,.8);
      z-index:1000;
      display: flex;
      flex-direction: column;
      &-back{
        color: #b2b2b2;
        font-size: 16px;
        padding: 32px;
        text-align: center;
      }
      &-image {
        height: 500px;
        text-align: center;
      }
    }
  }
  &-save-btn {
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
