.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;



  .title {
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    background-color: #f4f4f4;
  }

  .profile {
    &-item {
    }
  }

  .save {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
