@import "../../assets/scss/variables";

.j2-top-list {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f3;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  &-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;

    &-icon{
      background-color: #1F53E4;
      color: white;
      padding-right: 4px;
      padding-top: 2px;
      padding-left: 2px;
      padding-bottom: 2px;
      font-size: 12px;
    }
    &-text {
      color: #444;
      padding-left: 4px;
      font-size: 14px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      width: 80%;
    }
  }
}
