
.container {
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #FDFEFF;

    .form{
        padding: 16px;

        .pwd {
            margin-top: 32px;
        }

        .login-button{
            margin-top: 32px;
        }

        .register {
            margin-top: 8px;
            text-align: center;
        }
    }
}
